<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-5">Oops! Something went wrong.</h2>
        <p class="text-center">We couldn't find the page you were looking for. Please check the URL or go back to the home page.</p>
        <div class="text-center">
            <a href="/" class="btn btn-secondary">Go Home</a>
        </div>
    </div>
</body>
</html>
